.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    &__text-wrapper{
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;

        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(20, end)
        }
    }

}

@keyframes typingEffectAnimation {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }